{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<h1> Log In</h1> <br />
<h2>Accounts are only created by invitation.  You must contact the award czar to create an account.</h2>
<div class="ff_not_ok" style="display:none">
<img src="/media/img/logos/firefox-icon.png">
<br>
{% trans "Your browser is not compatible with and some functions can not work well" %}.
<br>
{% trans "Please, get the latest version of" %} <a target="_blank" href="http://br.mozdev.org/firefox/download.html">{% trans "Firefox" %}</a> {% trans "to get all features running" %}
<span class="block_ie">{% trans "or" %} <a class="login_unlock">{% trans "continue with restricted features" %}</a>.</span><br /><br /><span class="read_more"><a href="http://www.gestorpsi.com.br/trac/wiki/Firefox" target="_blank">{% trans "Read more" %}</a></span>
</div>


    <div class="formWrapper">
      {% if errors %}<div class="errornote">{{ errors }}</div>{% endif %}
      <form method="post" action="/accounts/authentication/" id="form_login">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
	      <tr><td/><td><input type="submit" name="login_btn" value="Log In"/></tr></td>	      
        </table>
        <input type="hidden" name="next" value="{{ next}}" />
      </form>
      <a href="/accounts/password/reset/" >{% trans "Forgot Password" %}</a>
    </div>

{% endblock %}
